 <h1>User info</h1>

      <% if user.image.attached? %>
       <%= image_tag User.image, size: "200x200" %>
      <% else %>
       <%= image_tag 'no_image.jpeg',size: "200x200" %>
      <% end %>

      <p>Name</p>
      <%= user.name %>
      <p>Introduction</p>
      <%= user.introduction %>
      