 <div class="row">
 　<h1>User info</h1>
 　<tr>
  　 <%= image_tag user.get_profile_image(100,100) %>
 　</tr>
   <table class = "table">
     <tr>
       <th>Name</th>
       <th><%= user.name %></th>
     </tr>
     <tr>
       <th>Introduction</th>
       <th><%= user.introduction %></th>
     </tr>
   </table>
</div>