<div class="container">
  <div class="row">

    <div class="col-md-3">
      <p>test</p>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <% @books.each do |book| %>
        <p>Title</p>
        <span><%= book.title %></span>

        <p>Opinion</p>
        <span><%= book.opinion %></span>
      <% end %>
    </div>

  </div>
</div>
